.word-list h3 {
  background-color: rgb(57, 69, 82);
  color: white;
  padding: 15px;
  font-weight: normal;
  font-size: 25px;
  margin-top: 5px;
}

.word-list li h4 {
  text-align: left;
  display: inline;
  margin: 25px;
}

.word-list li {
  list-style-type: none;
  margin: 15px;
}

li span {
  float: right;
  margin: 5px;
}

ul {
  text-align: left;
  width: 60%;
  margin: auto;
  padding-left: 0;
}